*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-size: 100%;

}

.hidden{
	display: none;
}

.popup{
	/*width:20%;*/
	padding:2%;
	position:absolute;
}

.popup img{
	width:100%;
}

.content{
	text-align: center;
}

h1{

	font-family: 'Dancing Script', cursive;
	line-height: 60vh;
	font-size:5em;
	font-weight: 700;
}

p{
	font-family: 'Raleway', sans-serif;
	text-decoration: underline;
	padding:1%;


}

p#clear{
	font-weight: bold;
	display: inline-block;
	z-index: 100;
}

#clear:hover{
	cursor: pointer;
}

.images{
	display: block;
	position:fixed;
	top:0;
	left:0;

	width:100%;
	height:100vh;
	z-index: -100;


}